.layout {
  height: 100vh;
  display: flex;
}

.layout-sidebar {
  width: 4rem;
  padding: 0.5em;
  height: 100vh;
  color: red;
  background-color: #d5d8dd;
}

.layout-content {
  background-color: #ebecf0;
  width: 100vw;
  padding: 2em;
}
